%section#privacy
  .container.wow.animated.fadeIn
    .row
      .col-md-6
        %h1.text-center سياسة الخصوصية
        %br
        %p.arb.text-right
          تلتزم programer.tv لحماية خصوصية مستخدميها. ويهدف هذا البيان إلى إطلاع
          المستخدمين على كيفية تعريفنا، وجمع واستخدام المعلومات الشخصية. سنتخذ
          الخطوات المعقولة لحماية خصوصية المستخدم متسقة في إطار المبادئ
          التوجيهية الواردة في هذه السياسة والقانون. باستخدام هذا الموقع، فإنك
          توافق على سياسة الخصوصية التالية.
        %p.arb.text-right
          آخر تعديل لهذه السياسة في 2 فبراير 2016.

        %h3.arb.text-right المعلومات الشخصية
        %p.arb.text-right
          يتم جمع معلومات المستخدم عند ملء استمارة، بغية معالجة الرسوم المتحركة،
          أو تسجيل الدخول من خلال خدمة طرف ثالث (مثل تويتر). في أي نقطة من
          معلومات بطاقة الائتمان الخاصة بك المخزنة على هذا الموقع أو التعامل معها
          من قبل بنا مباشرة.
        %p.arb.text-right
          تستخدم الكوكيز لتخزين المعلومات عن الدورة الحالية الخاصة بك وتفضيلات
          أخرى. ويمكن استخدام هذه المعلومات لتتبع التقدم المحرز المستخدم وتقديم
          تجربة أكثر تخصيصا. الكوكيز يمكن تعطيل أو مسح في إعدادات متصفح الويب
          الخاص بك.

        %h3.arb.text-right الأطراف الثالثة
        %p.arb.text-right
          نحن لا نبيع، والتجارة، أو نقل معلومات المستخدم إلى أطراف خارجية. هذا لا
          يشمل طرف ثالث موثوق به والذين يساعدوننا في تشغيل موقعنا على شبكة
          الإنترنت، وإجراء أعمالنا، أو تقديم الخدمات لكم، طالما وافقت تلك الأطراف
          للحفاظ على سرية هذه المعلومات. يجوز لنا أيضا الإفراج عن المعلومات
          الخاصة بك عندما نعتقد الاصدار هو المناسب للامتثال للقانون، وفرض سياسات
          موقعنا، أو حماية حقوقنا أو حقوق الآخرين، أو الملكية، أو سلامة. ومع ذلك،
          يمكن تقديم المعلومات زائر غير التعريفية لأطراف أخرى للتسويق والإعلان، أو
          غيرها من الاستخدامات.
        %p.arb.text-right
          أي ربط مواقع الطرف الثالث لديها سياسات خصوصية منفصلة ومستقلة. وبالتالي
          فإننا لا نتحمل أية مسؤولية عن محتوى وأنشطة هذه المواقع المرتبطة.

      .col-md-6
        %h1.eng.text-center Privacy Policy
        %br
        %p.eng.text-left
          programer.tv is committed to protecting its users' privacy. This
          statement is meant to inform our users of how we define, gather and
          utilize personally identifiable information. We will take reasonable
          steps to protect user privacy consistent within the guidelines set
          forth in this policy and the law. By using this site, you consent to
          the following privacy policy.
        %p.eng.text-left
          This policy was last modified on February 2, 2016.

        %h3.eng.text-left Personal Information
        %p.eng.text-left
          User information is collected when filling out a form, processing
          animated order, or signing in through a third party service (such as
          Twitter). At no point is your credit card information stored on this
          site or handled by us directly.
        %p.eng.text-left
          Cookies are used to store information about your current session and
          other preferences. This information may be used to track user progress
          and to offer a more personalized experience. Cookies can be disabled
          or cleared in your web browser settings.

        %h3.eng.text-left Third Parties
        %p.eng.text-left
          We do not sell, trade, or otherwise transfer user information to
          outside parties. This does not include trusted third parties who
          assist us in operating our website, conducting our business, or
          servicing you, so long as those parties agree to keep this information
          confidential. We may also release your information when we believe
          release is appropriate to comply with the law, enforce our site
          policies, or protect ours or others rights, property, or safety.
          However, non-identifiable visitor information may be provided to other
          parties for marketing, advertising, or other uses.
        %p.eng.text-left
          Any linked, third party sites have separate and independent privacy
          policies. We therefore have no responsibility or liability for these
          content and activities of these linked sites.

%footer
  .container.text-center
    .row.copyright
      .col-lg-12
        %p.small
          = link_to root_path do
            ©
            = Time.new.year
            programer.tv
    %br
