%section#terms
  .container.wow.animated.fadeIn
    .row
      .col-md-6
        %h1.text-center شروط الخدمة
        %br
        %h3.arb.text-right ١. الشروط
        %p.arb.text-right
          عن طريق الوصول إلى موقع على شبكة الإنترنت programer.tv، فإنك توافق على
          أن تكون ملزمة هذه الشروط والأحكام، وجميع القوانين واللوائح المعمول بها
          ، وتوافق على أن تكون مسؤولا عن الامتثال لأية القوانين المحلية المعمول
          بها. إذا كنت لا أتفق مع أي من هذه الشروط، لا يحق لك استخدام أو الوصولإ
          لى هذا الموقع. المواد، المعلومات والبرمجيات والمحتوى الوارد في وعلى و
          programer.tv موقع على شبكة الإنترنت (يشار إليها هنا باسم "المواد") هي
          محمية بحقوق النشر المعمول بها وقانون العلامات التجارية. قد programer.tv
          يتم المشار إليها هنا باسم "نحن"، "لنا"، أو "programer.tv".

        %h3.arb.text-right ٢. رخصة الإستخدام
        %p.arb.text-right
          يتم منح الإذن لعرض مؤقتا المواد على programer.tvs الموقع ل، وعرض مؤقتة
          الشخصي غير التجاري فقط. هذا هو منح الترخيص، وليس لنقل الملكية، وبموجب
          هذا الترخيص لا يجوز لك:
        %ul.arb.text-right
          %li تحميل، تعديل أو نسخ المواد؛
          %li
            استخدام المواد لأي غرض تجاري، أو أي عرض للجمهور (تجارية أو غير
            تجارية)؛
          %li محاولة فك أو عكس هندسة أي من المواد؛
          %li
            إزالة أي حقوق التأليف والنشر أو غيرها من الرموز الملكية من المواد؛
            أو
          %li نقل المواد إلى شخص آخر أو "المرآة" المواد على أي ملقم آخر.
        %p.arb.text-right
          يجب إنهاء هذا الترخيص تلقائيا إذا كنت انتهاك أي من هذه القيود، كما
          يمكن انهاؤها قبل programer.tv في أي وقت. عند الانتهاء من مشاهدتك لهذه
          المواد أو عند انتهاء هذا الترخيص، يجب تدمير أي مواد تم تحميلها في يدك
          سواء في شكل إلكتروني أو طباعتها.

        %h3.arb.text-right ٣. إخلاء مسؤولية
        %p.arb.text-right
          يتم توفير المواد "كما هي". programer.tv لا تقدم أي ضمانات، صريحة أو
          ضمنية، وتخلي مسؤوليتها وينفي كافة الضمانات الأخرى، بما في ذلك سبيل
          لمثال لا الحصر، الضمانات الضمنية أو الشروط الخاصة بالتسويق أو الملاءمة
          لغرض معين، أو عدم التعدي على الملكية الفكرية أو انتهاك آخر للحقوق.
          وعلاوة على ذلك، programer.tv لا تبرر أو تقدم أي تعهدات فيما يتعلق بدقة،
          والنتائج المحتملة، أو التعويل على استخدام المواد أو تتعلق إلا لمثل هذه
          المواد أو على أي مواقع الويب المرتبطة بهذا الموقع.

        %h3.arb.text-right ٤. القيود
        %p.arb.text-right
          في أي حال من الأحوال programer.tv أو مورديها يكون مسؤولا عن أي أضرار
          (بما في ذلك، دون حصر، الأضرار الناجمة عن فقدان البيانات أو الأرباح، أو
          بسبب انقطاع الأعمال، و) الناشئة عن استخدام أو عدم القدرة على استخدام
          المواد، حتى لو programer.tv أذن وقد تم إخطار ممثل شفويا أو كتابيا
          احتمال وقوع هذه الأضرار. لأن بعض السلطات القضائية لا تسمح قيود على
          الضمانات الضمنية، أو تحديد المسؤولية عن الأضرار اللاحقة أو العرضية، قد
          تكون هذه القيود لا تنطبق لك.

        %h3.arb.text-right ٥. التنقيحات والأخطاء المطبعية
        %p.arb.text-right
          يمكن أن تشمل المواد أخطاء، بما في ذلك سبيل المثال لا الحصر الفني،
          مطبعي، أو التصوير الفوتوغرافي. programer.tv لا تضمن أن أي من المواد هي
          دقيقة وكاملة، أو الحالية. programer.tv قد إجراء تغييرات على المواد في
          أي وقت دون سابق إنذار، ولكن programer.tv لا يجعل أي التزام لتحديث
          المواد.

        %h3.arb.text-right ٦. الروابط
        %p.arb.text-right
          لم تستعرض programer.tv جميع المواقع المرتبطة موقعه على شبكة الإنترنت
          وليست مسؤولة عن محتوى أي موقع على شبكة الإنترنت هذا مرتبط. ولا يعني
          إدراج أي صلة بأي تأييد programer.tv من موقع على شبكة الإنترنت مرتبط.
          استخدام أي من هذه مرتبطة الموقع هو على مسؤوليتك الخاصة.

        %h3.arb.text-right ٧. تعديل شروط استخدام الموقع
        %p.arb.text-right
          programer.tv قد تعدل هذه الشروط وشروط الاستخدام في أي وقت دون إشعار
          مسبق. باستخدام هذا الموقع، فإنك توافق على أن تكون ملزمة ثم الإصدار
          الحالي من هذه البنود وشروط الاستخدام.

        %h3.arb.text-right ٨. القانون الحاكم
        %p.arb.text-right
          يخضع أي مطالبة تتعلق موقع program.tvs لقوانين المملكة العربية السعودية
          دون اعتبار لتعارضها مع أحكام القانون.

        %h3.arb.text-right ٩. سياسة الاسترجاع
        %p.arb.text-right
          ويرجع ذلك إلى طبيعة المنتجات programer.tv (السلع الرقمية غير ملموسة)،
          فإنه من غير الممكن "العودة" للمنتج وبالتالي نحن لا نقدم استرداد أو
          تبادل بعد إتمام عملية الشراء. إذا كنت تواجه أي مشكلة مع الخدمة،
          والإعداد المتاعب، أو لديك أي أسئلة، يرجى تقديم البريد الإلكتروني في
          admin@programer.tv ، وسنكون سعداء للمساعدة في حل المشكلة.

      .col-md-6
        %h1.eng.text-center Terms of Service
        %br
        %h3.eng.text-left 1. Terms
        %p.eng.text-left
          By accessing programer.tv’s web site, you are agreeing to be bound by
          these Terms and Conditions of Use, all applicable laws and regulations
          , and agree that you are responsible for compliance with any
          applicable local laws. If you do not agree with any of these terms,
          you are prohibited from using or accessing this site. The materials,
          information, software, and content contained in and on programer.tv’s
          web site (collectively referred to herein as the “Materials”) are
          protected by applicable copyright and trademark law. programer.tv may
          be referred to herein as “we”, “us”, or “programer.tv”.

        %h3.eng.text-left 2. Use License
        %p.eng.text-left
          Permission is granted to temporarily view the Materials on
          programer.tv's web site for personal, non-commercial transitory
          viewing only. This is the grant of a license, not a transfer of title,
          and under this license you may not:
        %ul.eng.text-left
          %li download, modify or copy the Materials;
          %li
            use the Materials for any commercial purpose, or for any public
            display (commercial or non-commercial);
          %li attempt to decompile or reverse engineer any of the Materials;
          %li
            remove any copyright or other proprietary notations from the
            Materials; or
          %li
            transfer the Materials to another person or "mirror" the Materials
            on any other server.
        %p.eng.text-left
          This license shall automatically terminate if you violate any of these
          restrictions and may be terminated by GoRails.com at any time. Upon
          completion of your viewing of these Materials or upon the termination
          of this license, you must destroy any downloaded Materials in your
          possession whether in electronic or printed format.

        %h3.eng.text-left 3. Disclaimer
        %p.eng.text-left
          The Materials are provided "as is". programer.tv makes no warranties,
          expressed or implied, and hereby disclaims and negates all other
          warranties, including without limitation, implied warranties or
          conditions of merchantability, fitness for a particular purpose, or
          non-infringement of intellectual property or other violation of
          rights. Further, programer.tv does not warrant or make any
          representations concerning the accuracy, likely results, or
          reliability of the use of the Materials or otherwise relating to such
          Materials or on any web sites linked to this web site.

        %h3.eng.text-left 4. Limitations
        %p.eng.text-left
          In no event shall programer.tv or its suppliers be liable for any
          damages (including, without limitation, damages for loss of data or
          profit, or due to business interruption,) arising out of the use or
          inability to use the Materials, even if programer.tv authorized
          representative has been notified orally or in writing of the
          possibility of such damage. Because some jurisdictions do not allow
          limitations on implied warranties, or limitations of liability for
          consequential or incidental damages, these limitations may not apply
          to you.

        %h3.eng.text-left 5. Revisions and Errata
        %p.eng.text-left
          The Materials could include errors, including but not limited to
          technical, typographical, or photographic. programer.tv does not
          warrant that any of the Materials are accurate, complete, or current.
          programer.tv may make changes to the Materials at any time without
          notice, however programer.tv does not make any commitment to update
          the Materials.

        %h3.eng.text-left 6. Links
        %p.eng.text-left
          programer.tv has not reviewed all of the sites linked to its web site
          and is not responsible for the content of any such linked web site.
          The inclusion of any link does not imply any endorsement by
          programer.tv of the linked web site. Use of any such linked web site
          is at your own risk.

        %h3.eng.text-left 7. Site Terms of Use Modification
        %p.eng.text-left
          programer.tv may revise these Terms and Conditions of Use at any time
          without notice. By using this web site you are agreeing to be bound by
          the then current version of these Terms and Conditions of Use.

        %h3.eng.text-left 8. Governing Law
        %p.eng.text-left
          Any claim relating to programer.tv's web site shall be governed by the
          laws of the Kingdom of Saudi Arabia without regard to its conflict of
          law provisions.

        %h3.eng.text-left 9. Refund Policy
        %p.eng.text-left
          Due to the nature of programer.tv products (non-tangible digital
          goods), it is not possible to “return” the product therefore we DO NOT
          offer refund or exchange after purchase is made. If you are having any
          issue with the service, trouble setup, or have any questions, please
          submit an electronic mail at admin@programer.tv , we will be happy to
          help resolve the problem.

%footer
  .container.text-center
    .row.copyright
      .col-lg-12
        %p.small
          ©
          = Time.new.year
          programer.tv
    %br
