%section#exception-message
  .container.wow.animated.fadeIn
    .row
      .col-lg-12
        %h1.text-center ٤٠٤
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %p.text-center.arb
          الصفحة التي قمت بطلبها غير موجودة!
        %p.text-center.arb
          تحقق من كتابتك لعنوان الصفحة بشكل صحيح أو أن عنوان الصفحة المطلوبة قد
          تم تحديثها.
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br

%footer
  .container.text-center
    .row.copyright
      .col-lg-12
        %p.small
          = link_to root_path do
            ©
            = Time.new.year
            programer.tv
    %br
