%section#exception-message
  .container.wow.animated.fadeIn
    .row
      .col-lg-12
        %h1.text-center ٤٢٢
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %p.text-center.arb
          الطلب اللذي قمت به قدتم رفضه!
        %p.text-center.arb
          من الممكن أنك قد قمت بطلب تغيير سيء ما بدون تصريح مسبق.
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br
        %br

%footer
  .container.text-center
    .row.copyright
      .col-lg-12
        %p.small
          = link_to root_path do
            ©
            = Time.new.year
            programer.tv
    %br
