.courses {
  .course {
    margin-bottom: 30px;

    .course-img {
      padding: 0;
      overflow: hidden;

      img {
        margin: 0 auto;
        height: auto;
        width: 100%
      }
    }
  }
}
