#exception-message {
  color: #BCBDBF;
  background-image: image-url("logo_bg_big.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment:fixed;
  background-size: 35% auto;

  h1 {
    font-size: 100px;
  }
}
