/* Fonts */
/* Droid Sans */
@font-face {
  font-family: "droid-sans";
  src:  font-url("fontface/droid-sans/droid-sans.eot");
  src:  font-url("fontface/droid-sans/droid-sans.eot?#iefix") format("embedded-opentype"),
        font-url("fontface/droid-sans/droid-sans.woff") format("woff"),
        font-url("fontface/droid-sans/droid-sans.ttf") format("truetype"),
        font-url("fontface/droid-sans/droid-sans.svg#droid-sans") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Asmaa */
@font-face {
  font-family: "asmaa";
  src:  font-url("fontface/asmaa/asmaa.eot");
  src:  font-url("fontface/asmaa/asmaa.eot?#iefix") format("embedded-opentype"),
        font-url("fontface/asmaa/asmaa.woff") format("woff"),
        font-url("fontface/asmaa/asmaa.ttf") format("truetype"),
        font-url("fontface/asmaa/asmaa.svg#asmaa") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Barabics */
@font-face {
  font-family: "barabics";
  src:  font-url("fontface/barabics/barabics.eot");
  src:  font-url("fontface/barabics/barabics.eot?#iefix") format("embedded-opentype"),
        font-url("fontface/barabics/barabics.woff") format("woff"),
        font-url("fontface/barabics/barabics.ttf") format("truetype"),
        font-url("fontface/barabics/barabics.svg#barabics") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Boutros-ads */
@font-face {
  font-family: "boutros-ads";
  src:  font-url("fontface/boutros-ads/boutros-ads/.eot");
  src:  font-url("fontface/boutros-ads/boutros-ads/.eot?#iefix") format("embedded-opentype"),
        font-url("fontface/boutros-ads/boutros-ads/.woff") format("woff"),
        font-url("fontface/boutros-ads/boutros-ads/.ttf") format("truetype"),
        font-url("fontface/boutros-ads/boutros-ads.svg#boutros-ads") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Droid Kufi */
@font-face {
  font-family: "droid-kufi";
  src:  font-url("fontface/droid-kufi/droid-kufi/.eot");
  src:  font-url("fontface/droid-kufi/droid-kufi/.eot?#iefix") format("embedded-opentype"),
        font-url("fontface/droid-kufi/droid-kufi/.woff") format("woff"),
        font-url("fontface/droid-kufi/droid-kufi/.ttf") format("truetype"),
        font-url("fontface/droid-kufi/droid-kufi.svg#droid-kufi") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Fanni */
@font-face {
  font-family: "fanni";
  src:  font-url("fontface/fanni/fanni/.eot");
  src:  font-url("fontface/fanni/fanni/.eot?#iefix") format("embedded-opentype"),
        font-url("fontface/fanni/fanni/.woff") format("woff"),
        font-url("fontface/fanni/fanni/.ttf") format("truetype"),
        font-url("fontface/fanni/fanni.svg#fanni") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Hala */
@font-face {
  font-family: "hala";
  src:  font-url("fontface/hala/hala/.eot");
  src:  font-url("fontface/hala/hala/.eot?#iefix") format("embedded-opentype"),
        font-url("fontface/hala/hala/.woff") format("woff"),
        font-url("fontface/hala/hala/.ttf") format("truetype"),
        font-url("fontface/hala/hala.svg#hala") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Jazeera */
@font-face {
  font-family: "jazeera";
  src:  font-url("fontface/jazeera/jazeera/.eot");
  src:  font-url("fontface/jazeera/jazeera/.eot?#iefix") format("embedded-opentype"),
        font-url("fontface/jazeera/jazeera/.woff") format("woff"),
        font-url("fontface/jazeera/jazeera/.ttf") format("truetype"),
        font-url("fontface/jazeera/jazeera.svg#jazeera") format("svg");
  font-weight: normal;
  font-style: normal;
}
