.email-background{ style: "direction: rtl; border-radius: 5px;" }
  .pre-header
    %p{ style: "direction: rtl; color: white; font-size: 2px;" }
      شاهد العديد من الفيديوهات التعليمية لأحدث لغات البرمجة مشروحة باللغة
      العربية و بنقاوة 1080p العالية الجودة في programer.tv.

  .email-container{ style: "direction: rtl; background: #e5e9ec; max-width: 500px; margin: 0 auto; overflow: hidden; border-radius: 5px;" }
    = image_tag "logo_and_text_devise_email.png", alt: "Logo", style: "max-width: 100%;"

    .email-body{ style: "direction: rtl; background: #F1F4F4; margin: 20px; padding: 10px; border-radius: 5px;" }
      %p{ style: "direction: rtl; margin: 20px; font-size: 16px; font-weight: 300;" }
        مرحبا
        = @resource.username

      %p{ style: "direction: rtl; margin: 20px; font-size: 16px; font-weight: 300;" }
        لقد قام أحد ما بطلب تغيير كلمة المرور الخاصة بك!
        %br
        تستطيع تغيير كلمة المرور بالضغط على الرابط الموضح بالأسفل.

    .cta{ style: "direction: rtl; text-align: center; margin: 20px;" }
      = link_to "تغيير كلمة المرور", edit_password_url(@resource, reset_password_token: @token),
                style: "display: inline-block; text-decoration: none; background: #0aa699; color: white; padding: 10px 20px; border-radius: 5px;"

    %p{ style: "direction: rtl; margin: 20px; font-size: 11px; font-weight: 300;" }
      * إذا لم تقم بطلب تغيير كلمة المرور فيرجى تجاهل هذا البريد الإلكتروني.
      %br
      * كلمة المرور لن تتغير طالما لم تقم بالضغط على رابط التغيير الموضح بالأعلى.

  .footer{ style: "direction: ltr; margin: 10px; text-align: center;" }
    = link_to "\u00a9 programer.tv", "https://programer.tv", style: "font-family: sans-serif; font-size: 12px; text-decoration: none; color: #0aa699;"
